.ChatInput {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.ChatInput textarea {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    resize: none;
    font-size: 1.2em;
    padding: 1% 2%;
    box-sizing: border-box;

    border: 1px solid #3a3a3a;
    border-radius: 10px;
    word-wrap: break-word;
}

.ChatInput textarea:focus,
.ChatInput textarea:hover {
    border-color: #3c50fb;
}

