.Button {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.2em;
    line-height: 1em;

    box-sizing: border-box;

    color: #3c50fb;
    background-color: #fff;
}


.Button:focus,
.Button:active,
.Button:hover {
    background-color: #3c50fb;
    color: #fff;
}
